html {
    background-color: #3B5B98;
    text-align: center;
}

a {
    font-family: Helvetica;
    color: white;
    text-decoration: none;
}

#main-container {
    margin-top: 9%;
}

#logo {
    font-family: Cabin;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

#form {    
    background: white;
    border-radius: 4px;
    width: 290px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5%;
}

input {
    border: none;
    font-family: Helvetica;
    padding-right: 10px;
    padding-left: 10px;
    width: 270px;
    height: 40px;
    background: transparent;
}

#log-in {
    background: #5069A1;
    font-family: Helvetica;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 4px;
    width: 290px;
    height: 50px;
    margin-bottom: 10%;
}

.log-in {
    margin-bottom: 1%;
}