html {
    background-color: #E9EBEE;
}

a {
    text-decoration: none;
}

#main-container {
    border: 1px solid #DDDFE2;
    margin: 4% auto;
    width: 475px;
    height: 185px;
}

#status {
    background-color: #FFFFFF;
    font-family: Lato;
    font-size: 15px;
    color: #4B4F56;
    border: none;
    resize: none;
    width: 451px;
    height: 50px;
    max-height: 500px;
    padding: 12px 12px 12px 12px;
    margin-bottom: -4px;
    outline: none;
}

#other-language-container {
    width: 470px;
    height: 20px;
    padding: 6px 5px 2px 0;
    background: white;
}

#other-language-text {
    background: white;
    float: right;
    font-family: Helvetica;
    font-size: 12px;
    color: #C9CDD2;
}

#friends {
    /*BORDER COLOR: #DDDFE2*/
    float: right;
    margin-right: 10px;
}

#friends:hover,
.privacy:hover {
    background-color: #E9EBEE;
}

#post {
    float: right;
    border: none;
    border-radius: 2px;
    background: #4267B2;
    color: white;
    font-family: Helvetica;
    width: 70px;
    height: 25px;
    outline: none;
    cursor: pointer;
}

#post:hover {
    background-color: #365899;
}


/*----STATUS | PHOTO/VIDEO | LIVE VIDEO | LIFE EVENT----*/

#status-bar {
    border-bottom: 1px solid #DDDFE2;
    width: 463px;
    background: #F6F7F9;
    padding: 10px 0 10px 12px;
}

#buttons {
    border-top: 1px solid #DDDFE2;
    background: white;
    width: 475px;
    height: 43px;
}


/*FRIENDS | POST*/

#bottom-right-btns {
    float: right;
    width: 180px;
    height: 25px;
    margin: 8px 8px 8px;
    background-color: white;
}

.status-bar-text {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    color: #365899;
}

.user {
    margin-right: 10px;
}

.down1 {
    margin-left: 5px;
}

.fa-flag,
.fa-video-camera,
.fa-camera,
.fa-pencil {
    margin-right: 5px;
    color: #575757;
}

.fa-plus-circle {
    margin-right: 7px;
}

.q {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    color: #A7A7A7;
    margin-left: 4px;
    margin-right: 5px;
}

#bottom-left-btns {
    float: left;
    width: 200px;
    height: 30px;
    background-color: white;
}

.buttons-left {
    background-color: white;
    color: #989BA3;
    padding: 13px 12px 14px 12px;
    margin-right: -4px;
    border: none;
    outline: none;
    cursor: pointer;
}

.buttons-left:hover {
    background-color: #F2F2F2;
}

#privacy {
    margin-top: 10px;
    position: relative;
}

.privacy {
    border: 1px solid #DDDFE2;
    border-radius: 2px;
    background-color: #F6F7F9;
    color: #4B4F56;
    font-family: Helvetica;
    width: 100px;
    height: 25px;
    outline: none;
    cursor: pointer;
}


/*--PRIVACY OPTIONS--*/

.privacy-options {
    background-color: #F6F7F9;
    color: #4B4F56;
    font-family: Helvetica;
    border: 1px solid #DDDFE2;
    border-radius: 2px;
    outline: none;
    width: 100px;
    height: 25px;
    cursor: pointer;
}

.privacy-options:hover {
    background-color: #F2F2F2;
}

.privacy-options:focus {
    background-color: #4267B2;
    color: white;
}

.privacy-options:focus:hover {
    background-color: #355797;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.privacy-dd-content {
    display: none;
    font-family: Helvetica;
    font-size: 14px;
    position: absolute;
    background-color: white;
    overflow: auto;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: 188px;
    height: 220px;
    z-index: 1;
}

.privacy-dd-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.option-title {
    font-size: 12px;
    color: #585C62;
    padding: 8px 0 8px 15px;
}

.options {
    background-color: #F6F7F9;
    margin-bottom: 3px;
    padding-bottom: 8px;
    color: #353A41;
    cursor: pointer;
}

.options:hover {
    background-color: #4267B2;
    border: 1px solid #29487D;
    color: white;
}

.opt-des:hover {
    color: white;
}

.opt-i {
    padding-right: 5px;
}

.opt {
    font-weight: bold;
    padding: 8px 0 0 15px;
}

.opt-des {
    font-family: Lato;
    font-size: 10px;
    color: #909090;
    padding: 0 0 0 32px;
}

.down2 {
    margin-left: 5px;
    margin-right: 10px;
}

.more-options {
    font-size: 12px;
    color: #585C62;
    padding: 8px 0 8px 15px;
    font-size: 12px;
    color: #585C62;
    padding: 8px 0 8px 15px;
    cursor: pointer;
}

.more-options:hover {
    background-color: #4267B2;
    border: 1px solid #29487D;
    color: white;
}

.show {
    display: block;
}